/* Cambiar el color de fondo */
body {
    background-color: rgb(103, 27, 60);
  }
  
  /* Usar una imagen o GIF de fondo */
  body {
    background-image: url('"C:\Users\joaha\Downloads\MwEVA1.gif"'); /* Cambia 'fondo.gif' por la ruta de tu imagen o gif */
    background-size: cover; /* Ajusta la imagen al tamaño de la pantalla */
    background-repeat: no-repeat; /* Evita que se repita la imagen */
    background-attachment: fixed; /* Fija el fondo al desplazarse */
  }
  h1 {
    text-align: center;
}
  